# Ex2 - Getting and Knowing your Data


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the chipotle dataset

### Step 3. Assign it to a variable called chipo.

In [2]:
df = pd.read_csv("chipotle.tsv", sep='\t')

df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [10]:
# Solution 1
# Number of observations
num_observations = df.shape[0]
print(f"The number of observations in the dataset is: {num_observations}")

The number of observations in the dataset is: 4622

In [11]:
# Solution 2

df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 6. What is the number of columns in the dataset?

In [20]:
df.shape[1]

5

### Step 7. Print the name of all the columns.

In [17]:
df.columns.tolist()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [21]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [23]:
most_ordered = df.groupby('item_name')['quantity'].sum().idxmax()

most_ordered

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [25]:
most_ordered_quantity = df.groupby('item_name')['quantity'].sum().max()

most_ordered_quantity

761

### Step 11. What was the most ordered item in the choice_description column?

In [28]:
mo_coice_descrtiption = df.groupby('choice_description')['quantity'].sum().idxmax()

mo_coice_descrtiption

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [29]:
total_items = df['quantity'].sum()

total_items

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [46]:
df["item_price"] = df["item_price"].str.replace('$','').astype(float)

df["item_price"]

AttributeError: Can only use .str accessor with string values!

#### Step 13.b. Create a lambda function and change the type of item price

In [45]:
df["item_price"] = df["item_price"].apply(lambda x : float(x.replace('$','').strip()))

AttributeError: 'float' object has no attribute 'replace'

#### Step 13.c. Check the item price type

In [47]:
df["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [33]:
revenue = df["item_price"].sum()

revenue

34500.16

### Step 15. How many orders were made in the period?

In [36]:
orders = df['order_id'].count()

orders

4622

### Step 16. What is the average revenue amount per order?

In [41]:
# Solution 1
avg_orders = revenue/orders
avg_orders

7.464335785374297

In [49]:
# Solution 2
df['revenue'] = df['quantity'] * df['item_price']

In [51]:
avg_orders_per = df['revenue'].mean()
avg_orders_per

8.48918649935093

### Step 17. How many different items are sold?

In [52]:
unique_orders = df['order_id'].unique()

In [54]:
unique_orders.shape[0]

1834