# Regiment

### Introduction:



### Step 1. Import the necessary libraries

In [5]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [6]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [8]:
df = pd.DataFrame(raw_data)

df.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [11]:
mean_preTestScore = df[df['regiment'] == 'Nighthawks']['preTestScore'].mean()

mean_preTestScore

15.25

### Step 5. Present general statistics by company

In [13]:
df.describe()

       preTestScore  postTestScore
count     12.000000      12.000000
mean      11.083333      62.333333
std       12.324833      21.376850
min        2.000000      25.000000
25%        2.750000      57.000000
50%        3.500000      62.000000
75%       24.000000      70.000000
max       31.000000      94.000000

### Step 6. What is the mean of each company's preTestScore?

In [15]:
mean_of_each_preTestscore = df.groupby('regiment')['preTestScore'].mean()

mean_of_each_preTestscore

regiment
Dragoons      15.50
Nighthawks    15.25
Scouts         2.50
Name: preTestScore, dtype: float64

### Step 7. Present the mean preTestScores grouped by regiment and company

In [17]:
mean_preTestscore_regiment_company = df.groupby(['regiment', 'company'])['preTestScore'].mean()
mean_preTestscore_regiment_company

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

x### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [18]:
mean_preTestscore_regiment_company_hie = df.groupby(['regiment', 'company'])['preTestScore'].mean().reset_index()
mean_preTestscore_regiment_company_hie

     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

### Step 9. Group the entire dataframe by regiment and company

In [25]:
grouped_df = df.groupby(['regiment', 'company']).mean(numeric_only=True).reset_index()
grouped_df

     regiment company  preTestScore  postTestScore
0    Dragoons     1st           3.5           47.5
1    Dragoons     2nd          27.5           75.5
2  Nighthawks     1st          14.0           59.5
3  Nighthawks     2nd          16.5           59.5
4      Scouts     1st           2.5           66.0
5      Scouts     2nd           2.5           66.0

### Step 10. What is the number of observations in each regiment and company

In [26]:
grouped_df.shape[0]

6

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [28]:
for regiment, group in df.groupby('regiment'):
    print(f"Regiment: {regiment}")
    print(group)
    print('-'*50)

Regiment: Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
--------------------------------------------------
Regiment: Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
--------------------------------------------------
Regiment: Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70
--------------------------------------------------